@use "variables";

.container {
  .hero-container {
    .hero {
      margin: 2rem;
      .logo-container {
        width: 30%;
        img {
          width: 100%;
        }
      }
      .img-container {
        width: 100%;
        margin: 2rem 0;
        img {
          width: 100%;
        }
      }
    }

    .form-container {
      padding: 2rem;
      width: 100%;
      box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
      h1 {
        color: variables.$primary-color;

        font-size: 2.5rem;
        font-weight: 700;
      }
      .detail {
        font-weight: 400;
        font-size: 1.25rem;
        color: variables.$secondary-color;
        padding: 1rem 0 3rem 0;
      }
      form {
        width: 100%;

        input {
          width: 100%;
          margin-bottom: 1rem;
          padding: 1rem;
          border-radius: 0.3125rem;
          border: 2px solid rgba(84, 95, 125, 0.15);
        }
        ::placeholder {
          font-size: 0.875rem;
          font-weight: 400;
          color: variables.$secondary-color;
        }
        .password-container {
          position: relative;
        }
        .show-password {
          position: absolute;
          top: 1rem;
          bottom: 1rem;
          right: 1rem;
          color: variables.$button-color;
          font-size: 0.75rem;
          font-weight: 600;
        }
        p {
          color: variables.$button-color;
          font-size: 0.75rem;
          font-weight: 600;
          padding-bottom: 1.5rem;
        }
        button {
          background-color: variables.$button-color;
          width: 100%;
          padding: 1rem;
          color: #ffffff;
          border-radius: 0.5rem;
          border: none;
        }
      }
    }
  }
}
@media screen and (min-width: variables.$desktop) {
  .container {
    // width: 85vw;
    .hero-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: space between;
      align-items: center;
      gap: 2rem;
      //   margin: 2rem 0;
      .hero {
        padding: 3rem 0 0 3rem;
        .img-container {
          margin: 4rem 0;
        }
      }
      .form-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        padding: 0 4rem;
      }
    }
  }
}
