@use "variables";
.modal-container {
  position: relative;
  .modal {
    position: absolute;
    right: -1rem;
    top: 0;
    background: #ffffff;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 180px;
    height: 130px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 0.875rem;
      font-weight: 500;
      color: variables.$secondary-color;
      line-height: 2.5;
    }
  }
}
