@use "variables";
.nav-container {
  width: 100vw;
  padding: 1rem;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 4rem;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  //   margin-top: 1rem;
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .hamburger {
      border: 1px solid variables.$primary-color;
      padding: 0.5rem;
      border-radius: 0.375rem;
    }
  }
  .nav-item {
    display: none;
  }
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: variables.$desktop) {
  .nav-container {
    width: 100vw;
    height: 5rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      width: 20%;
      .logo {
        width: 50%;
      }
      .hamburger {
        display: none;
      }
    }
    .nav-list {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        padding: 0.5rem;
        border: 1px solid variables.$primary-color;
        width: 100%;
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
      }
      button {
        background-color: variables.$button-color;
        border: 1px solid variables.$button-color;
        padding: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }
    .nav-item {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      a {
        p {
          font-weight: 400;
          font-size: 1rem;
          color: variables.$primary-color;
        }
      }
      .person {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
        p {
          font-weight: 500;
          font-size: 1rem;
          color: variables.$primary-color;
        }
        .person-img {
          border-radius: 50%;
        }
      }
    }
  }
}
